image: maven:3.9.8-eclipse-temurin-17-focal

definitions:
  docker:
    memory: 4096  # increase memory for docker-in-docker from 1GB to 4GB
  caches:
    gradlewrapper: ~/.gradle/wrapper
  steps:
    - step: &unit-test-code-checks
        runs-on: self.hosted
        name: unit-test-code-checks
        size: 4x
        caches:
          - maven
        script:
          - export MAVEN_OPTS="-Xmx4096M"
          - mvn install -B -V -P-assembly -Dtest.argLine=-Xmx4096M -Pcoverage-report -DskipUnitTests=false
        artifacts:
          - dspace-api/target/surefire-reports/*-output.txt
          - dspace-iiif/target/surefire-reports/*-output.txt
          - dspace-oai/target/surefire-reports/*-output.txt
          - dspace-rdf/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-services/target/surefire-reports/*-output.txt
          - dspace-sword/target/surefire-reports/*-output.txt
          - dspace-swordv2/target/surefire-reports/*-output.txt
          - dspace-api/target/failsafe-reports/*-output.txt
          - dspace-iiif/target/failsafe-reports/*-output.txt
          - dspace-oai/target/failsafe-reports/*-output.txt
          - dspace-rdf/target/failsafe-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt
          - dspace-services/target/failsafe-reports/*-output.txt
          - dspace-sword/target/failsafe-reports/*-output.txt
          - dspace-swordv2/target/failsafe-reports/*-output.txt

    - step: &integration-tests
        runs-on: self.hosted
        name: integration-tests
        size: 4x
        caches:
          - gradle
          - gradlewrapper
          - maven
        script:
          - export MAVEN_OPTS="-Xmx4096M"
          #- ./dspace-api/src/test/data/dspaceFolder/bin/install_grobid.sh
          - mvn clean install -DskipUnitTests=true -DskipITs=true -DskipIntegrationTests=true -P !assembly -B -V
          - mvn test -pl dspace-iiif,dspace-oai,dspace-rdf,dspace-server-webapp,dspace-services,dspace-sword,dspace-swordv2 -Dmaven.test.skip=false -DskipUnitTests=false -DskipITs=false -DskipIntegrationTests=false -B -V -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine=-Xmx4096M -DfailIfNoTests=false -Dtest=*IT,!Abstract*,!ItemImportIT,!GenericAuthorizationFeatureIT,!ItemRestRepositoryIT,!LeftTiltedRelationshipRestRepositoryIT,!RelationshipRestRepositoryIT,!StatisticsRestRepositoryIT,!WorkspaceItemRestRepositoryIT,!DiscoveryRestControllerIT,!PatchMetadataIT,!RightTiltedRelationshipRestRepositoryIT
        artifacts:
          - dspace-iiif/target/surefire-reports/*-output.txt
          - dspace-oai/target/surefire-reports/*-output.txt
          - dspace-rdf/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-services/target/surefire-reports/*-output.txt
          - dspace-sword/target/surefire-reports/*-output.txt
          - dspace-swordv2/target/surefire-reports/*-output.txt
          - dspace-iiif/target/failsafe-reports/*-output.txt
          - dspace-oai/target/failsafe-reports/*-output.txt
          - dspace-rdf/target/failsafe-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt
          - dspace-services/target/failsafe-reports/*-output.txt
          - dspace-sword/target/failsafe-reports/*-output.txt
          - dspace-swordv2/target/failsafe-reports/*-output.txt

    - step: &integration-tests-slow
        runs-on: self.hosted
        name: integration-tests-slow
        size: 4x
        caches:
          - gradle
          - gradlewrapper
          - maven
        script:
          - export MAVEN_OPTS="-Xmx4096M"
          #- ./dspace-api/src/test/data/dspaceFolder/bin/install_grobid.sh
          - mvn clean install -DskipUnitTests=true -DskipITs=true -DskipIntegrationTests=true -P !assembly -B -V
          - mvn test -Dmaven.test.skip=false -DskipUnitTests=false -DskipITs=false -DskipIntegrationTests=false -B -V -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine=-Xmx4096M -DfailIfNoTests=false -Dtest=ItemImportIT,GenericAuthorizationFeatureIT,ItemRestRepositoryIT,LeftTiltedRelationshipRestRepositoryIT,RelationshipRestRepositoryIT,StatisticsRestRepositoryIT,WorkspaceItemRestRepositoryIT,DiscoveryRestControllerIT,PatchMetadataIT,RightTiltedRelationshipRestRepositoryIT
        artifacts:
          - dspace-iiif/target/surefire-reports/*-output.txt
          - dspace-oai/target/surefire-reports/*-output.txt
          - dspace-rdf/target/surefire-reports/*-output.txt
          - dspace-server-webapp/target/surefire-reports/*-output.txt
          - dspace-services/target/surefire-reports/*-output.txt
          - dspace-sword/target/surefire-reports/*-output.txt
          - dspace-swordv2/target/surefire-reports/*-output.txt
          - dspace-iiif/target/failsafe-reports/*-output.txt
          - dspace-oai/target/failsafe-reports/*-output.txt
          - dspace-rdf/target/failsafe-reports/*-output.txt
          - dspace-server-webapp/target/failsafe-reports/*-output.txt
          - dspace-services/target/failsafe-reports/*-output.txt
          - dspace-sword/target/failsafe-reports/*-output.txt
          - dspace-swordv2/target/failsafe-reports/*-output.txt

    - step: &integration-tests-dspace-api
        runs-on: self.hosted
        name: integration-tests-dspace-api
        size: 4x
        caches:
          - gradle
          - gradlewrapper
          - maven
        script:
          - export MAVEN_OPTS="-Xmx4096M"
          - mvn clean install license:check -DskipUnitTests=true -DskipITs=true -DskipIntegrationTests=true -P !assembly -B -V
          - mvn verify -Dmaven.test.skip=false -pl dspace-api -DskipUnitTests=true -DskipITs=false -DskipIntegrationTests=false -P !assembly -B -V -Dsurefire.rerunFailingTestsCount=2 -Dtest.argLine=-Xmx4096M
        artifacts:
          - dspace-api/target/surefire-reports/*-output.txt
          - dspace-api/target/failsafe-reports/*-output.txt

pipelines:
  branches:
    'main-cris':
      - parallel:
        - step: *unit-test-code-checks
        - step: *integration-tests
        - step: *integration-tests-slow
        - step: *integration-tests-dspace-api
    'dspace-cris-2023_02_x':
      - parallel:
        - step: *unit-test-code-checks
        - step: *integration-tests
        - step: *integration-tests-slow
        - step: *integration-tests-dspace-api
    'prod/**':
      - parallel:
          - step: *unit-test-code-checks
          - step: *integration-tests
          - step: *integration-tests-slow
          - step: *integration-tests-dspace-api

  pull-requests:
    '**':
      - parallel:
          - step: *unit-test-code-checks
          - step: *integration-tests
          - step: *integration-tests-slow
          - step: *integration-tests-dspace-api
  custom:
    integration:
       - step: *integration-tests
    integration-slow:
       - step: *integration-tests-slow
    integration-dspace-api:
       - step: *integration-tests-dspace-api
    unit:
       - step: *unit-test-code-checks

